# Secrets
.env
*.env

# Java / Maven / Spring Boot
**/target/
*.class
*.log
*.jar

# Node.js / React / Vite
**/node_modules/
**/dist/
.vite/

# OS Files
Thumbs.db
.DS_Store
# Terraform local files
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
